<!DOCTYPE html>
<html>
<title>Agora - Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
<link rel="stylesheet" href="css/styles.css" />
<style>
body,h1,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
.w3-sidenav a,.w3-sidenav h4 {font-weight:bold}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">
<!-- Sidenav/menu -->
<nav class="w3-sidenav w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidenav"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <%if current_user.image%>
  

      <img src="<%=current_user.image%>" style="width:45%;" class="w3-round"><br><br>
      <%else%>
      <img src="https://d2wnxi2v4fzw0h.cloudfront.net/assets/fallback/preview_default_profile.png" style="width:45%;" class="w3-round"><br><br>
      <%end%>
    <h4 class="w3-padding-0"><b><%=current_user.name%></b></h4>
    <p class="w3-text-grey">Agora</p>
  </div>
  <a href="lists/new" onclick="w3_close()" class="w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>Create a New List</a>
  <a href="#portfolio" onclick="w3_close()" class="w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>My Account</a>
  <a href="#portfolio" onclick="w3_close()" class="w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>About</a>
</nav>
<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">
  <!-- Header -->
  <header class="w3-container" id="portfolio">
    <a href="#"><img src="https://d2wnxi2v4fzw0h.cloudfront.net/assets/fallback/preview_default_profile.png" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-opennav w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <%time = Time.new %>
    <% if time.hour < 12 %>
    <h1><b>Good Morning <%=current_user.name%>!</b></h1>
    <% elsif time.hour > 12 && time.hour < 18 %>
    <h1><b>Good Afternoon <%=current_user.name%>!</b></h1>
    <% else %>
    <h1><b>Good Evening <%=current_user.name%>!</b></h1>
    <%end%>
    <div class="w3-section w3-bottombar w3-padding-16">
      <span class="w3-margin-right">Filter:</span>
      <% current_user.lists.each do |list| %>
      <a href="/users/<%=current_user.id%>/lists/<%=list.id%>"class="w3-btn"><%=list.name%></a>
      <%end%>
  </header>
<body>
  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    <section id="three" class="no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
              <% @ary = [] %>
              <%if @current_list %>
                <%@current_list.apartments.each do |apartment| %>
                  <%if apartment[:price_range] != nil%>
                    <%@ary << apartment%>
                  <%end%>
                <%end%>
                <%@ary.sort_by do |apartment|%>
                  <%apartment[:price_range]%>
                <%end.each do |apartment| %>
                <% if apartment.links != 'favoriteIcon neutral'%>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="<%=apartment.pictures%>">
                      <div class="image">
                      <img src="<%=apartment.pictures%>" class="img-responsive" alt="Image 1">
                        <a href="<%=apartment_path(apartment)%>"><h2><%= apartment.price_range%></h2></a>
                      </div>
                    </a>
                </div>
                <% end %>
              <%end%>
            <%end%>
    </section>
  </div>
  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <ul class="w3-pagination">
      <li><a class="w3-black" href="#">1</a></li>
    </ul>
  </div>
<script>
// Script to open and close sidenav
function w3_open() {
    document.getElementById("mySidenav").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
function w3_close() {
    document.getElementById("mySidenav").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
