<%= @apartment.locations %>
<p>
  -----------------------
</p>
<%= @apartment.pictures%>
<p>
  <%=@apartment.links %>
</p>
<p>
  -----------------------
</p>
<%= @apartment.price_range %>
<p>
  -----------------------
</p>
<%= @apartment.bed_rooms %>
<p>
  -----------------------
</p>
<%=@apartment.transportation %>
<p>
  -----------------------
</p>
<%= @apartment.sqft %>
<p>
  -----------------------
</p>
<%= @apartment.description %>
<p>
  -----------------------
</p>
<%= @apartment.pet_policy %>
<p>
  -----------------------
</p>
<%= @apartment.parking %>
<p>
  -----------------------
</p>
<%= @apartment.amementies %>
