<!DOCTYPE HTML>
<html>
     <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="../assets/css/main.css" />


        <noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
    </head>
    <body class="is-loading-0 is-loading-1 is-loading-2">
        <!-- Main -->
            <div id="main">
                <!-- Header -->
                    <header id="header">
                      <% if user_signed_in? %>
                       <%= link_to "My Portfolio", user_lists_path(current_user) %>
                       <%end%>
                    </header>
                <!-- Thumbnail -->
                    <section id="thumbnails">
                        <article>
                            <a class="thumbnail" href="<%=@apartment.pictures%>" data-position="left center"><img src="<%=@apartment.pictures%>" alt="" /></a>
                            <h2><%=@apartment.locations%></h2>
                            <p><%="#{@apartment.bed_rooms} | #{rand(1..3)} Bathroom"%></p>
                        </article>
                        <p>
                          <%=@apartment.description%>
                        </p>

                    </section>
                <!-- Footer -->
                    <footer id="footer">
                        <ul class="copyright text-center">


                                        <div class="w3-dropdown-hover">
                                          <button class="w3-btn-block">Add to List</button>
                                          <div class="w3-dropdown-content w3-border w3-wide">
                                            <% if current_user %>
                                              <%= form_for @apartment do |f| %>

                                                 <%= f.fields_for :lists, @apartment.lists.build do |list| %>
                                                    <%= list.hidden_field :user_id, value: current_user.id %>
                                                    <%= list.label :name %>
                                                    <%= list.text_field :name %><br>
                                                 <% end %>

                                                  <%= f.collection_check_boxes :list_ids, current_user.lists.all, :id, :name %>

                                                  <%= f.submit  %>
                                                  <% end %>
                                                  <% else %>
                                                     <%= link_to "Login", new_user_session_path %> <br>
                                                                   Or <br>
                                                     <%= link_to "Sign Up",  new_user_registration_path%> <br>
                                                                   To create A list

                                                  <% end %>
                                          </div>
                                        </div>

                                        ##
                                        <div class="w3-dropdown-hover">
                                          <button class="w3-btn-block">Book a Tour</button>
                                          <div class="w3-dropdown-content w3-border w3-wide">
                                            <% if current_user %>
                                              <%= form_for @tour do |f| %>
                                                <%= f.hidden_field :user_id, value: current_user.id %>
                                                <%= f.hidden_field :apartment_id, value: @apartment.id %>

                                                 <%= f.date_field :booked %>
                                                  <%= f.submit  %>
                                                  <% end %>
                                                  <% else %>
                                                     <%= link_to "Login", new_user_session_path %> <br>
                                                                   Or <br>
                                                     <%= link_to "Sign Up",  new_user_registration_path%> <br>
                                                                   To create A list

                                                  <% end %>
                                          </div>
                                        </div>
                                        ##


             <h3>

                <br>
                <br>
               <iframe
                width="270"
                height="300"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCrFym4iM3Lnh6TGX4QNB_jZcpCIDE33Fk
                  &q=<%=@apartment.locations%>" allowfullscreen>
              </iframe>

             </h3>


                        </ul>
                    </footer>
            </div>
        <!-- Scripts -->
            <script src="../assets/js/jquery.min.js"></script>
            <script src="../assets/js/skel.min.js"></script>
            <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="../assets/js/main.js"></script>
            <script type="text/javascript">
             $('.toggle').click(function(){
                $('.caption').toggle();
             })
            </script>

    </body>
</html>
